@media screen and (min-width: 480px) {
    .section-1 {
        height: 80vh;
    }

    .container-1 img {
        width: 250px;
        height: 150px;
    }

    .container-2 img {
        width: 230px;
        height: 120px;
    }

    .container-3 img {
        width: 470px;
        height: 270px;
    }

    .container-4 img {
        width: 140px;
        height: 140px;
    }

    .section-6 {
        height: 595px;
    }

    .section-7 {
        align-items: flex-start;
    }

    .section-7 h2 {
        width: 300px;
    }

    .game-box {
        width: 300px;
    }

    .game-box img {
        height: 170px;
    }


}




@media screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }

    nav {
        padding: 0px 20px;
    }

    .menu-search {
        display: none;
    }

    ul {
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .section-1 {
        height: 90vh;
    }



    .container-3 img {
        width: 600px;
        height: 400px;
    }

    .container-4 {
        grid-template-columns: repeat(6, 0.5fr);

    }

    .container-4 img {
        width: 120px;
        height: 120px;
    }

    .section-4 {
        padding: 60px 10px;
    }

    .section-6 {
        text-align: start;
        align-items: start;
        justify-content: center;
        padding-left: 5%;
    }

    .section-6 p {
        width: 500px;
    }

    .section-7 {
        padding-left: 100px;
    }

    .game-box {
        width: 260px;
    }

    .game-box img {
        height: 150px;
    }

}




@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4em;
    }

    ul {
        font-size: 16px;
        font-weight: 500;
        gap: 50px;
    }

    .section-1 {
        justify-content: center;
        align-items: start;
        padding-left: 10%;
        height: 60vh;
    }

    .section-1 p {
        width: 400px;
        text-align: start;
    }

    .container-1 img {
        width: 220px;
        height: 120px;
    }

    .container-2 {
        order: 1;
        padding-inline: 80px;
    }

    .container-2 img {
        width: 260px;
        height: 160px;
    }

    .container-3 {
        order: -1;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding-inline: 80px;
    }

    .section-3 h2 {
        display: none;
    }

    .box-2 h2 {
        display: block;
        width: 350px;
        text-align: start;
        font-size: 44px;
    }

    .box-2 {
        width: 100%;
        height: 100%;
        align-items: start;
        text-align: start;
    }

    .container-3 img {
        width: 100%;
        height: 100%;
        order: 1;
    }

    .box-2 h4 {
        display: none;
    }

    .container-4 img {
        width: 180px;
        height: 180px;
    }

    .section-4 {
        padding: 60px 20px;
    }

    .section-5 {
        flex-direction: row;
        height: 500px;
    }

    .section-5 img {
        order: 2;
        width: 50%;
        height: 100%;
    }

    .container-5 {
        width: 50%;
        align-items: start;
        text-align: start;
        padding: 50px 50px;
    }

}

@media screen and (min-width: 1600px) {
    .section-1 {
        height: 75vh;
    }

    .container-3 {
        padding-left: 150px;
    }

    .container-4 img {
        width: 250px;
        height: 250px;
    }

    .section-5 {
        height: 800px;
    }

    .game-box {
        width: 500px;
    }

    .game-box img {
        height: 300px;
    }

    .game-box p {
        width: 400px;
    }

    .section-7 {
        align-items: center;
        gap: 100px;
        padding-left: 0px;
    }

    .child-box {
        margin: 0 auto;
        gap: 50px;
    }

    .section-7 h2 {
        width: max-content;
    }
}