@media screen and (min-width: 480px) {
    .section-1 {
        height: 80vh;
    }

    .container-1 img {
        width: 250px;
        height: 150px;
    }

    .container-2 img {
        width: 230px;
        height: 120px;
    }

    .container-3 img {
        width: 470px;
        height: 270px;
    }

    .container-4 img {
        width: 140px;
        height: 140px;
    }
}




@media screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }

    nav {
        padding: 0px 20px;    
    }

    .menu-search {
        display: none;
    }

    ul {
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .section-1 {
        height: 90vh;
    }

    

    .container-3 img {
        width: 600px;
        height: 400px;
    }

    .container-4 {
        grid-template-columns: repeat(6, 0.5fr);
        
    }

    .container-4 img {
        width: 100px;
        height: 100px;
    }

    .section-4 {
        padding: 60px 50px;
    }
}




@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4em;
    }

    ul {
        font-size: 16px;
        font-weight: 500;
        gap: 50px;
    }

    .section-1 {
        height: 65vh;
    }

    .img-description {
        bottom: 100px;
        padding-left: 5%;
        background: none;
        text-align: start;
    }

    .img-description p {
        width: 400px;
    }

    .container-1 img {
        width: 220px;
        height: 120px;
    }

    .container-2 {
        order: 1;
        padding-inline: 80px;
    }

    .container-2 img {
        width: 260px;
        height: 160px;
    }

    .container-3 {
        order: -1;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding-inline: 80px;
    }

    .section-3 h2 {
        display: none;
    }

    .box-2 h2{
        display: block;
        width: 350px;
        text-align: start;
        font-size: 44px;
    }

    .box-2 {
        width: 100%;
        height: 100%;
        align-items: start;
        text-align: start;
    }
    
    .container-3 img {
        width: 100%;
        height: 100%;
        order: 1;
    }

    .box-2 h4 {
        display: none;
    }

    .container-4 img {
        width: 180px;
        height: 180px;
    }

    .section-4 {
        padding: 60px 20px;
    }

}

@media screen and (min-width: 1600px) {
    .section-1 {
        height: 75vh;
    }

    .img-description button {
        padding: 12px 20px;
        font-size: 18px;
    }

    .container-3 {
        padding-left: 150px;
    }

    .container-4 img {
        width: 250px;
        height: 250px;
    }

}