@media screen and (min-width: 480px) {
    
}




@media screen and (min-width: 768px) {
    nav {
        padding: 0px 20px;    
    }

    .menu-search {
        display: none;
    }

    ul {
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}




@media screen and (min-width: 1280px) {
    ul {
        font-size: 16px;
        font-weight: 500;
        gap: 50px;
    }
}