body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: none;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 99;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-size: 18px;
}

.menu-search {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 36px;
    color: darkcyan;
}

.sign-in {
    font-weight: 600;
    padding: 4px 14px;
    border-radius: 100px;
    background-color: darkcyan;
    color: white;
}

.section-1 {
    margin-top: 60px;
    background-image: linear-gradient(rgba(242, 255, 0, 0.1), rgb(252, 255, 217)), url('../images/section1-img.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    gap: 10px;
    padding-bottom: 50px;
}


h1 {
    letter-spacing: 8px;
}


.section-2 {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: fit-content;
    gap: 15px;
    padding: 30px 20px;
    margin: 0 auto;
}

.container-1 img {
    width: 150px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    filter: opacity(80%);
}

.main-game {
    border: 2px solid darkcyan;
    padding: 4px;
}


.section-3 {
    width: 100%;
    margin-top: 100px;
}

.big-container {
    overflow-x: auto;
}

.section-3 h2 {
    text-align: center;
    margin-bottom: 50px;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: fit-content;
    gap: 30px;
    padding: 30px 20px;
    margin: 0 auto;
}

.container-2 img {
    width: 130px;
    height: 70px;
    object-fit: cover;
    border-radius: 12px;
    filter: opacity(80%);
    box-shadow: 4px 4px 8px gray;
}

.container-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.container-3 h3 {
    color: darkcyan;
}

.container-3 h4 {
    font-weight: 600;
}

.container-3 p {
    color: gray;
}

.container-3 img {
    width: 300px;
    height: 170px;
    object-fit: cover;
    margin: 0 auto;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.find-btn {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: 600;
}

.buy-btn {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-radius: 100px;
    font-weight: 600;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box-2 h2 {
    display: none;
}

.section-4 {
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.container-4 {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 30px 0px;
    justify-items: center;
    align-items: center;
    text-align: start;
    padding-top: 50px;
    margin: 0 auto;
}

.container-4 img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.container-4 div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-5 {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.section-5 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.container-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 130px 10px;
    text-align: center;
}

.container-5 button {
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 10px 100px;
    border-radius: 100px;
}

.section-6 {
    background-image: linear-gradient(rgba(4, 4, 4, 0.8), rgb(0, 86, 122)), url('../images/visionpro2-img.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    gap: 20px;
    text-align: center;
    color: white;
}

.vr-btns {
    display: flex;
    gap: 10px;
}

.vr-btns button {
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 100px;
}

.find-out-more-btn {
    background-color: white;
    color: black;
}

.buy-now-btn {
    background-color: red;
    color: white;
}

.section-6 p {
    width: 90%;
}



.section-7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(54, 0, 98)), url('../images/until-down-img.avif');
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: white;
    padding-left: 15px;
    padding-bottom: 50px;
}

.overflow-box {
    overflow-x: auto;
    width: 100%;
    padding: 30px 0px;
}

.child-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: fit-content;

}


.game-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 220px;

}

.game-box img {
    width: 100%;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
}

.section-7 button {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: 800;
}