body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: none;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 99;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-size: 18px;
}

.menu-search {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 36px;
    color: darkcyan;
}

.sign-in {
    font-weight: 600;
    padding: 4px 14px;
    border-radius: 100px;
    background-color: darkcyan;
    color: white;
}

.section-1 {
    margin-top: 60px;
    background-image: url('../images/section1-img.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    position: relative;
}

.img-description {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgb(255, 255, 255));
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
}

.img-description h3 {
    margin-top: 20px;
}

h1 {
    letter-spacing: 8px;
}

.img-description p {
    margin-top: 20px;
    font-weight: 500;
}

.img-description button {
    color: white;
    font-weight: 600;
    background-color: darkcyan;
    padding: 8px 20px;
    border-radius: 100px;
    margin-top: 20px;
}


.section-2 {
    width: 100%;
    margin-top: 20px;
    overflow-x: hidden;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: fit-content;
    gap: 15px;
    padding: 25px 20px;
    margin: 0 auto;
}

.container-1 img {
    width: 150px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    filter: opacity(80%);
}

.main-game {
    border: 2px solid darkcyan;
    padding: 4px;
}